---
import Layout from '../components//Layout.astro';
import * as Image from '../scripts/ImagePath'
---
<head>
  <title>Documentation - MoonRay</title>
</head>


<Layout>
  <img src={Image.documentation_cover} class="w-full" />
  <div class="p-10 m-5">
  <h1 class="text-3xl font-bold pb-5">Documentation</h1>

  <p class="pb-2">
    You can find the documentation at <a href="https://docs.openmoonray.org/" class="text-blue-600 underline">MoonRay Documentation</a>
  </p>

  <p class="pb-5">
    MoonRay has rendered the following DreamWorks Animation features and shorts...
  </p>

  <div class="pt-10 pb-10">
<table border={0} class="mx-auto">
  <tr>
    <td>&nbsp;</td>
    <td>
      <img 
        src={Image.documentation_movie1}
        class="w-96"
      />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie2} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie3} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie4} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie5} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie6} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie7} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie8} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie9} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie10} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie11} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie12} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie13} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie14} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie15} class="w-96" />
    </td>
  </tr>

  <tr>
    <td>
      <img src={Image.documentation_movie16} class="w-96" />
    </td>
    <td>
      <img src={Image.documentation_movie17} class="w-96" />
    </td>
  </tr>
</table>

  </div>
  </div>
</Layout>

